{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tienda de disfraces</title>
    <link rel="stylesheet" href="{% static 'css/csshalloween.css'%}">
    <link rel="icon" href="{% static 'foto.ico'%}">
  </head>
  <body>
    <h1 id="nombre">Tienda de disfraces</h1>
    <h2>Disfraces halloween</h2>
    <hr>
    <div class="fotos">
      <img src="{% static 'diablesa.jpg'%}" alt="Disfraz diablo chica">
      <p>Disfraz diablesa</p>
      <p>Precio: 26€</p>
      <p>Tallas: S,M,L</p>
    </div>
    <div class="fotos">
      <img src="{% static 'asesino.jpg'%}" alt="Disfraz asesino hombre">
      <p>Disfraz asesino</p>
      <p>Precio: 35€</p>
      <p>Tallas: S,M,L,XL,XXL</p>
    </div>
    <div class="fotos">
      <img src="{% static 'monja.jpg'%}" alt="Disfraz monja muerta">
      <p>Disfraz monja muerta mujer</p>
      <p>Precio: 50€</p>
      <p>Tallas: S,M,L,XL</p>
    </div>
  </body>
</html>
