{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tienda de disfraces</title>
    <link rel="stylesheet" href="{% static 'css/micss.css'%}">
    <link rel="icon" href="{% static 'foto.ico'%}">
  </head>
  <body>
    <h1 id="nombre">Tienda de disfraces</h1>
    <h3>Disfraces para cada ocasión</h3>
    <hr>
    <ul id="lista">
      <li><a href="{% static 'halloween.html'%}">Disfraces halloween</a></li>
      <img class="fotos" src="{% static 'halloween.jpg'%}" alt="Fotografía disfraz halloween">
      <li><a href="{% static 'ninos.html'%}">Disfraces para niños</a></li>
      <img class="fotos" src="{% static 'ninos.jpg'%}" alt="Fotografía disfraz para niños">
      <li><a href="{% static 'navidad.html'%}">Disfraces para navidad</a></li>
      <img class="fotos" src="{% static 'navidad.jpg'%}" alt="Fotografía disfraz navidad">
    </ul>
  </body>
</html>
