{% load staticfiles %}
<!DOCTYPE html>
  <html lang="es" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Listado</title>
    </head>
    <body>
      <h1>Listado de productos</h1>

      <ul>
      {% for prod in productos %}
          <li>{{ prod.nombre }}</li>
            <p>Precio: {{prod.precio}}</p>
            <p>stock: {{prod.stock}}</p>
            <p>imagen: {{prod.img}}</p>
            <p>size: {{prod.size}}</p>
            <img src="{% static '' %}{{prod.img}}">
      {% endfor %}
      </ul>
    </body>
  </html>
