{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tienda de disfraces</title>
    <link rel="stylesheet" href="{% static 'css/cssnavidad.css'%}">
    <link rel="icon" href="{% static 'foto.ico'%}">
  </head>
  <body>
    <h1 id="nombre">Tienda de disfraces</h1>
    <h2>Disfraces navidad</h2>
    <hr>
    <div class="fotos">
      <img src="{% static 'navidad.jpg'%}" alt="Disfraz elfo">
      <p>Disfraz elfo</p>
      <p>Precio: 40€</p>
      <p>Tallas: XS,S,M,L</p>
    </div>
    <div class="fotos">
      <img src="{% static 'angel.jpg'%}" alt="Disfraz Angel">
      <p>Disfraz Angel</p>
      <p>Precio: 20€</p>
      <p>Tallas: XS,S,M </p>
    </div>
    <div class="fotos">
      <img src="{% static 'arbol.jpg'%}" alt="Disfraz Arbol de navidad">
      <p>Disfraz de arbol de navidad</p>
      <p>Precio: 20€</p>
      <p>Tallas: S,M,L,XL,XXL</p>
    </div>
  </body>
</html>
