{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tienda de disfraces</title>
    <link rel="stylesheet" href="{% static 'css/cssninos.css'%}">
    <link rel="icon" href="{% static 'foto.ico'%}">
  </head>
  <body>
    <h1 id="nombre">Tienda de disfraces</h1>
    <h2>Disfraces niños</h2>
    <a href="/tienda_disfraces/">Pagina principal de la tienda</a>
    <hr>
    {% for prod in productos %}
        <div class="fotos">
          <img src="{% static '' %}{{prod.img}}">
          <p>{{ prod.nombre }}</p>
          <p>Precio: {{prod.precio}}€</p>
          <p>Stock: {{prod.stock}}</p>
          <p>Size: {{prod.size}}</p>
        </div>
    {% endfor %}
  </body>
</html>
