body{
  color: orange;
  background-image: url("fondo.jpg");
  background-size: cover;
}
#logo{
  width: 91px;
  height: 72px;
}
#nombre{
  text-align: center;
}
.fotos{
  width: 300px;
  height: 200px;
  float: right;
}
a {
  color: red;
  float: center;
}
