a{
  color: red;
}
body{
  color: purple;
  background-image: url("fondohalloween.jpg");
  background-size: cover;
  font-size: 20px;
  background-color: transparent;
}
#nombre{
  text-align: center;
  font-size: 100px;
}
img{
  width: 300px;
  height: 300px;
}
.fotos{
  margin: 50px 0px 0px 200px;
  float: left;
}
